
{% load static i18n %}

<!-- content -->
<div class="modal-content">
  <form id="close_job_form_id" action="" method="POST">
    {% csrf_token %}
    <div class="modal-header justify-content-between">
      <h4 id="exampleModalToggleLabel" class="modal-title">{% trans 'Add Forms' %}</h4>
      <button type="button" class="btn p-0 text-reset" aria-label="Close" data-bs-toggle="modal" id="form_popup" data-bs-target="#close_job_view_modal">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25 7L7 25"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M25 25L7 7"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>

    <!-- search -->
    <div class="modal-body text-center close_jobform_modal_body overflow-auto">
      <div class="form-group my-3 p-0 search-group ps-3">
        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.9648 17.1875C14.9516 17.1875 18.1836 13.9556 18.1836 9.96875C18.1836 5.98194 14.9516 2.75 10.9648 2.75C6.97804 2.75 3.74609 5.98194 3.74609 9.96875C3.74609 13.9556 6.97804 17.1875 10.9648 17.1875Z" stroke="#455269" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.0695 15.0732L20.2461 19.2498" stroke="#455269" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
        <input id="form_search_id" type="text" placeholder="{% trans 'Search' %}" class="form-control" />
      </div>

      <!-- Form list -->
      <div id="formList">
        <ul class="search-list px-0 list-none mb-0">
          {% for form in job_obj.group.form.all %}
          <li>
            <div class="check-select2 form_list align-items-center">
              <div class="gray-round-checkbox me-2">
                <input type="checkbox" id="form_{{ form.id }}" name="form" value="{{ form.id }}" data-name="{{ form.name }}" class="round-input" />
                <label for="form_{{ form.id }}" class="round-label"></label>
              </div>
              <label for="form_{{ form.id }}">{{ form.name }}</label>
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-active m-0" id="close_jobform_btn_id">
        <i class='bx bx-plus-circle me-2'></i>
        <span>{% trans 'Add Form' %}</span>
      </button>
    </div>

  </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
       $("#form_search_id").on("keyup", function () {
        var filter = $(this).val();
        if(filter.length===0){
          $(".no-data-found").remove()
        }
        $(".form_list").each(function () {
          if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).closest("ul").hide();
          } else {
            $(this).closest("ul").hide();
          }
        });
        var length_of_list = $(".form_list").children(':visible').length
        const hasClass = $("#formList").children().last().attr("class")
        if(length_of_list === 0 && hasClass!="no-data-found"){
          $("#formList").append(`
            <div class="no-data-found"> 
            <img src="{% static 'assets/img/no-data-found.svg' %}" alt="no-data-found.svg">
            </div>
          `)
        }
      })
    })
  </script>
  