{% load myfilters static i18n %}
<!-- content -->
<div class="modal-content">
    <form id="return_job_delete_id" action="" method="POST">
      {% csrf_token %}
      <div class="modal-header justify-content-between">
        <div class="icon_bg_block">
          <img src="{% static 'assets/img/delete_modal.svg' %}" alt="delete_icon">      
        </div>
        <button type="button" class="btn_popup_close  text-reset" data-bs-dismiss="modal" aria-label="Close"
          style="background-color: transparent; color: #000000; border: none;">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25 7L7 25"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25 25L7 7"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
        </button> 
      </div>

      <div class="modal-body text-center delete-return-job-modal">
        <p class="delete_modal_text mb-0">{% trans 'Are you sure you want to delete the Return Job' %}<b><span id="delete-return-job-name"></span></b> ?</p>
        <span id=delete-return-job-type></span>
      </div>
      
        <div class="modal-footer">
          <div class="row m-0 w-100">
            <div class="col-md-6 ps-0">
              <a class="btn w-100" data-bs-dismiss="modal" href="" id="cancel_id">{%trans 'Cancel' %} </a>
            </div>
            <div class="col-md-6 pe-0">
              <input type="submit" class="btn btn-danger w-100" value="{% trans 'Delete Job' %}" id="delete-form_btn_id">
            </div>
          </div>
        </div>
    </form>
  </div>